<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heyletscode.ihavetofly">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- GameActivity -->
        <activity android:name=".GameActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.noActionBar"
            android:exported="false" />  <!-- Add exported attribute -->

        <!-- GameRulesActivity -->
        <activity android:name=".GameRulesActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.noActionBar"
            android:exported="false" />
        <!--LevelSelectActivity-->
        <activity android:name=".LevelSelectActivity"
            android:theme="@style/AppTheme.noActionBar"
            android:screenOrientation="landscape"
            android:exported="false"/>


        <!--LanguageSettingsActivity-->
        <activity android:name=".LanguageSettingsActivity"
            android:theme="@style/AppTheme.noActionBar"
            android:screenOrientation="landscape"
            android:exported="false"/>

        <!--SoundSetting-->
        <activity android:name=".SettingActivity"
            android:theme="@style/AppTheme.noActionBar"
            android:screenOrientation="landscape"
            android:exported="false"/>
        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.noActionBar"
            android:exported="true"> <!-- Add exported attribute -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
